.recipe-img {
    border-radius: 0 !important;
}

img {
    border-radius: 0;
}

ion-item.input-wrapper
{
  margin-left: 20px;
}

ion-card.has-margin
{
  margin-left: 0px;
}

button.resize
{
  width: 70%;
  height: 70%;
  margin-left: 20px;
  margin-top: 10px;
}
.button_id
{
  margin-left: 20px;
}
