<ion-header>
  <ion-navbar color='navbar'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recipes</ion-title>
  </ion-navbar>

  <ion-row>
    <ion-col col-9>
      <ion-item class="input-wrapper">
        <ion-input type="text" [(ngModel)]="search" placeholder="Search..."></ion-input>
      </ion-item>
    </ion-col>

    <ion-col col-3>
      <button ion-button icon-only class="resize">
        <ion-icon name="funnel" class="button_id"></ion-icon>
        <ion-select [(ngModel)]="typesHeader" #C (ionChange)="onChange(C.value)">
          <ion-option *ngFor="let type of types" value="{{type.value}}">{{type.value}}</ion-option>
        </ion-select>
      </button>
    </ion-col>
  </ion-row>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="recipeModel" #F (ionChange)="OnChanges(F.value)">
      <ion-segment-button value="All" no-border-bottom>
        All
      </ion-segment-button>
      <ion-segment-button value="Breakfast" no-border-bottom>
        Breakfast
      </ion-segment-button>
      <ion-segment-button value="Dinner" no-border-bottom>
        Dinner
      </ion-segment-button>
      <ion-segment-button value="Supper" no-border-bottom>
        Supper
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="typeSelected()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


  <ion-card  *ngFor="let recipe of recipes" class="has-margin">
    <img src="{{recipe.imageUrl}}" class="recipe-img">
    <h2>
      {{recipe.name}}
    </h2>

    <ion-card-content>
      {{recipe.shortDescription}}
      <p>Rating:     {{recipe.rating}}</p>
      <p>FoodIntake: {{recipe.foodIntake}}</p>
    </ion-card-content>
  
  <ion-row>
    <ion-col col-8>
      <button ion-button color="primary" clear item-left (click)="showFullRecept(recipe._id)">Read Full</button>
    </ion-col>
      <ion-col col-2>
        <button class="button_feedback" ion-fab color="primary" (click)="likeDish(recipe._id)">
          <ion-icon name="arrow-dropup"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button class="button_feedback" ion-fab color="primary" (click)="unlikeDish(recipe._id)">
          <ion-icon name="arrow-dropdown"></ion-icon>
        </button>
      </ion-col>
  </ion-row>
  
  </ion-card>

</ion-content>

