page-addrecipe {

}

.card {
  width: 100%;
  height: auto;
  padding: 5%;
  margin-bottom: 5%;
  background-color: #fff;
  border: 1px solid #ebebeb;
}

button.has-margin
{
  margin-top: 20px;
}

.background
{
  background-color:#f7f6f6 ;
}

.resize {
  height: 20px;
}

button {
  height: 20px;
}

  button.resize
{
  width: 10%;
  height: 30%;
  margin-left: 40px;
  margin-top: 10px;
}
